.topcontainer{
    background-color: #E4F9F5;
    text-align: center;
    padding-top: 70px;
}  

.middle-container{
    text-align: center;
}  
.bottom-container{
    text-align: center;
}  
span{
    text-decoration-line: underline;
}


body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color: #40514E;

}

h1{
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    margin-bottom: 0;
    color: #66BFBF;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}


h3{
    color: #11999E;
    font-family: "Montserrat", sans-serif;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
}
.profilepic{
    width: 25%;
    height: 20%;

}
.skillpic{
    float: left;
    width: 25%;
    height: 20%;
    margin-right: 30px;
}

.skillpic2{
    float: right;
    width: 25%;
    height: 20%;
    margin-left: 30px;
}
.prog{
    
    font-size: 2.5rem;
    color: #66BFBF;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}
.profile-desc{
    width: 50%;
    margin: auto;
}

hr{
    border-style: none none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      height: 0px;
      width: 5%;
      margin: 100px auto 100px auto

}
.contact-me{

    margin: 100px auto 100px auto
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }
  a{
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
    
  }
  a:hover{
    color: #EAF6F6;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px ;
    text-decoration: none;

  }
  .copyright{
    color:#EAF6F6;
    font-size: 0.75;
    padding: 20px 0 20px 0;

  }